@import '../variables';

.login-page {
  background-image: url('/images/login-page-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    background-color: $white;
    box-shadow: $shadow;
    padding: $spacing-x10;
    border-radius: 5px;
  }
}
