@import "./scss/reset";
@import "./scss/variables";
@import "./scss/typography";
@import "./scss/utils";
@import "./scss/components/";

#root {
  width: 100vw;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  min-width: $content-width-xsm;
  margin-left: $spacing-x3;
  margin-right: $spacing-x3;
  width: 100%;

  @media (min-width: $screen-lg) {
    width: $content-width-lg;
  }
}